/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #787976; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #484a46;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
	font-family: "Montserrat", sans-serif;
}

h2 {
	color: #484a46;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.5rem;
	font-family: "Montserrat", sans-serif;
}

h3 {
	color: #484a46;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.25rem;
	font-family: "Montserrat", sans-serif;
}

h4 {
	color: #484a46;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: "Montserrat", sans-serif;
}

h5 {
	color: #484a46;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	font-family: "Montserrat", sans-serif;
}

h6 {
	color: #484a46;
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.375rem;
	font-family: "Montserrat", sans-serif;
}

.p-large {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #787976;
	text-decoration: underline;
}

a:hover {
	color: #787976;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.bg-gray {
	background-color: #fbfbfb;
}

.green {
	color: #ff448a;
}

.section-title {
	color: #ff448a;
	font-weight: 700;
	font-size: 0.8125rem;
	line-height: 1.125rem;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: #ff448a;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #ff448a; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.2rem 2.2rem 1.2rem 2.2rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: #ff448a;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #ffffff; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: transparent;
	color: #ff448a;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #ff448a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: transparent;
	color: #ff448a;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #ff448a;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: transparent;
	color: #ff448a;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #ff448a;
	color: #ffffff;
	text-decoration: none;
}

.form-floating label {
	margin-left: 0.5rem;
	color: #72719b;
}

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
	transform: scale(0.85) translateY(-.75rem) translateX(.15rem);
}

.form-floating .form-control {
	padding-left: 1.25rem;
}

.form-select {
	height: calc(3.5rem + 2px);
	padding-left: 1.25rem;
	color: #72719b;
}

.form-floating textarea.form-control {
	height: 100%;
}

.form-floating .form-control:hover,
.form-select:hover {
	border: 1px solid #a1a1a1;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.625rem;
	border: 1px solid #ff448a;
	border-radius: 2px;
	background-color: #ff448a;
	color: #ffffff;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 1px solid #ff448a;
	background-color: transparent;
	color: #ff448a;
}

.modal-dialog {
	margin-right: 1rem;
	margin-left: 1rem;
	pointer-events: all;
}

.modal-content {
	background-color: #ffffff;
}

.modal-content .btn-close {
	position: absolute;
	right: 6px;
	top: 10px;
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat;
	background-size: 16px 16px;
}

/* Fade Animation For Rotating Text - ReplaceMe  */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/* end of fade animation for rotating text - replaceme */


/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #ffffff;
	font-size: 0.875rem;
	line-height: 0.875rem;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.navbar .logo-image img {
    width: 160px;
	height: 60px;
}

.navbar .logo-text {
	color: #efefef;
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 4rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #ffffff;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link:focus,
.navbar .nav-item .nav-link.active {
	color: #a01146;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	border: none;
	background-color: #ffffff;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.625rem;
	color: #000000;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #ffffff;
	color: #ff448a;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #246a8c;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #ff448a;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #ff448a;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	padding-top: 10rem;
	padding-bottom: 8.5rem;
	background: linear-gradient(rgba(255, 255, 255, 0.767), rgba(0, 0, 0, 0.637)), url('../images/header-background2.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.header .h1-large {
	margin-bottom: 1rem;
	color: #ffffff;
	font-size: 3rem;
	line-height: 3.5rem;
}

.header .p-large {
	margin-bottom: 2.375rem;
	color: #efefef;
}


/*****************/
/*     Intro     */
/*****************/
.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 4rem;
}

.basic-1 .text-container {
	margin-bottom: 3.5rem;
}

.basic-1 .section-title {
	margin-bottom: 0.5rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
	color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
	overflow: hidden;
	border-radius: 4px;
}

.basic-1 .image-container img {
	margin: 0;
	border-radius: 4px;
	transition: all 0.3s;
}

.basic-1 .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */


/***********************/
/*     Description     */
/***********************/
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 3rem;
	border: none;
	text-align: left;
}

.cards-1 .fa-stack {
	width: 6rem;
	height: 6rem;
	margin-bottom: 1rem;
	line-height: 6rem;
}

.cards-1 .fa-stack .hexagon {
	position: absolute;
	width: 6rem;
	height: 6rem;
	background: url('../images/hexagon-green.svg') center center no-repeat;
	background-size: 6rem 6rem;
}

.cards-1 .fa-stack-1x {
	color: #ffffff;
	font-size: 2rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}


/********************/
/*     Services     */
/********************/
.cards-2 {
	padding-top: 8rem;
	padding-bottom: 3.75rem;
	text-align: center;
}

.cards-2 .section-title {
	margin-bottom: 0.5rem;
}

.cards-2 .h2-heading {
	margin-bottom: 3.5rem;
}

.cards-2 .card {
	margin-bottom: 6rem;
	border: none;
	background-color: #ffffff;
}

/* Hover Animation */
.cards-2 .card-image {
	overflow: hidden;
	margin-bottom: 2.25rem;
}

.cards-2 .card-image img {
	margin: 0;
	transition: all 0.3s;
}

.cards-2 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-2 .card-body {
	padding: 0 1.5rem 3rem 1.5rem;
}

.cards-2 .card-body p {
	text-align: left;
}

.cards-2 .list-unstyled {
	margin-bottom: 2rem;
	text-align: left;
}

.cards-2 .list-unstyled .fas {
	color: #ff448a;
	font-size: 0.975rem;
	line-height: 1.625rem;
}

.cards-2 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.cards-2 .card-body .price {
	color: #484a46;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.cards-2 .card-body .price span {
	color: #ff448a;
}

.cards-2 .button-wrapper {
	position: absolute;
	right: 0;
	bottom: -1.5rem;
	left: 0;
}

.cards-2 .btn-solid-reg:hover {
	background-color: #ffffff;
}


/*********************/
/*     Details 1     */
/*********************/
.accordion-1 .area-1 {
	height: 440px;
	background: url('../images/details-1-background.png') center center no-repeat;
	background-size: cover;
}

.accordion-1 .area-2 {
	padding-top: 7.75rem;
	padding-bottom: 5rem;
}

.accordion-1 .accordion {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.accordion-1 h2 {
	margin-bottom: 2.5rem;
}

.accordion-1 .accordion-item {
	margin-bottom: 2.5rem;
	border: none;
	border-radius: 0;
	background-color: transparent;
}

.accordion-1 .accordion-item:last-of-type {
	margin-bottom: 0;
}

.accordion-1 .accordion-icon {
	position: absolute;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	background-color: #ff448a;
	color: #ffffff;
	font-weight: 700;
	font-size: 1rem;
	line-height: 2.25rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease;
}

.accordion-1 .accordion-header {
	margin-left: 3rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	border: none;
	background-color: transparent;
}

.accordion-1 .accordion-header button {
	padding: 0;
	border: none;
	background-color: transparent;
	color: #484a46;
	box-shadow: none;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.625rem;
	letter-spacing: -0.4px;
	text-align: left;
}

.accordion-1 .accordion-header button:after {
	display: none;
}

.accordion-1 .accordion-body {
	margin-left: 3rem;
	padding: 0.375rem 0 0 0;
}

/************************/
/*     Testimonials     */
/************************/
.slider-1 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	text-align: center;
}

.slider-1 .h2-heading {
	margin-bottom: 3.5rem;
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 88%;
	text-align: center;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23484a46'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -10px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23484a46'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider-1 .card-image {
	width: 96px;
	height: 96px;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider-1 .card-body {
	padding: 0;
}

.slider-1 .testimonial-author {
	margin-bottom: 0;
	color: #484a46;
}



/*****************/
/*     About     */
/*****************/
.counter {
	padding-top: 8.25rem;
	padding-bottom: 5.75rem;
}

/* Hover Animation */
.counter .image-container {
	overflow: hidden;
	margin-bottom: 3rem;
	border-radius: 4px;
}

.counter .image-container img {
	margin: 0;
	border-radius: 4px;
	transition: all 0.3s;
}

.counter .image-container:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.counter .section-title {
	margin-bottom: 0.5rem;
}

.counter h2 {
	margin-bottom: 1.375rem;
}

.counter .list-unstyled {
	margin-bottom: 2rem;
}

.counter .list-unstyled .fas {
	color: #ff448a;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.counter .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.counter .counter-container {
	text-align: center;
}

.counter .counter-container .counter-cell {
	display: inline-block;
	width: 9rem;
	margin-right: 1.5rem;
	margin-bottom: 2rem;
}

.counter .counter-container .wrapper {
	display: flex;
	align-items: center;
}

.counter .counter-container .purecounter {
	margin-bottom: 0.125rem;
	color: #ff448a;
	font-weight: 700;
	font-size: 2.875rem;
	line-height: 3.25rem;
	font-family: "Montserrat", sans-serif;
}

.counter .counter-container .counter-info {
	margin-left: 0.875rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 4rem;
	/* padding-bottom: 1.5rem; */
	background-color: #153e52;
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #efefef;
}

.footer p,
.footer a,
.footer ul {
	color: #efefef;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 3.25rem;
	height: 3.25rem;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	background: url('../images/hexagon.svg') center center no-repeat;
	background-size: 52px 52px;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover {
	background: url('../images/hexagon-white.svg') center center no-repeat;
	background-size: 3.25rem 3.25rem;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
	color: #ffffff;
	font-size: 1.5rem;
	line-height: 3.25rem;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ff448a;
}

.p-smallC {
	font-size: 0.875rem;
	line-height: 1.5rem;
	text-align: center;
	color: #efefef;
	text-decoration: none;
	margin-top: 0.8rem;
}

/*********************/
/*     Copyright     */
/*********************/
.copyright {
	background-color: #042636;
	text-align: center;
}

.copyright p,
.copyright a {
	color: #efefef;
	text-decoration: none;
}


/******************************/
/*     Back To Top Button     */
/******************************/
#myBtn {
	position: fixed; 
  	z-index: 99; 
	bottom: 20px; 
	right: 20px; 
	display: none; 
	width: 52px;
	height: 52px;
	border: none; 
	border-radius: 50%; 
	outline: none; 
	background-color: #0b202b; 
	cursor: pointer; 
}

#myBtn:hover {
	background-color: #ff448a;
}

#myBtn img {
	margin-bottom: 0.25rem;
	width: 18px;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background-color: #d4d4d4;
}

.ex-header h1 {
	color: #ff448a;
}

.ex-basic-1 .list-unstyled .fas {
	color: #ff448a;
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .flex-grow-1 {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #fbfbfb;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #ff448a;
}

.ex-cards-1 .card .fa-stack-1x {
	width: 2em;
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 {
	margin-left: 2.25rem;
}

.ex-cards-1 .card .list-unstyled .flex-grow-1 h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 11rem;
		padding-bottom: 9rem;
	}

	.header .p-large {
		width: 35rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of header */


	/* Services */
	.cards-2 .card-body {
		padding-right: 2.25rem;
		padding-left: 2.25rem;
		background-color: #fbfbfb;
	}
	/* end of services */


	/* Details 1 */
	.accordion-1 .accordion {
		max-width: 70%;
	}
	/* end of details 1 */

	/* About */
	.counter .counter-container {
		text-align: left;
	}
	/* end of about */

	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}

	/* Stops body and navbar shift on modal open */
	body.modal-open {
		overflow-y: scroll !important;
		padding-right: 0 !important;
	}

	body.modal-open .navbar {
		padding-right: 0 !important;
	}
	/* end of stops body and navbar shift on modal open */

	.modal {
		padding-right: 0 !important;
	}

	.modal-dialog {
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		box-shadow: none;
		transition: all 0.2s;
	}

	.navbar.extra-page {
		padding-top: 0.5rem;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #ffffff;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.75rem;
		padding-left: 0.75rem;
	}

	.navbar .dropdown-menu {
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 16rem;
		padding-bottom: 15rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 {
		padding-top: 8.25rem;
	}

	.basic-1 .text-container {
		margin-bottom: 0;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		display: inline-block;
		width: 290px;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion-1 {
		height: 640px;
	}
	
	.accordion-1 .area-1 {
		width: 50%;
		height: 100%;
		display: inline-block;
	}
	
	.accordion-1 .area-2 {
		width: 50%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
	
	.accordion-1 .accordion {
		max-width: 88%;
		margin-left: 2rem;
		padding-bottom: 0;
	}

	.accordion-1 .accordion-title {
		width: 85%;
	}
	/* end of details 1 */

	/* Testimonials */
	.slider-1 .swiper-container {
		width: 94%;
	}

	.slider-1 .swiper-button-prev {
		left: -20px;
	}
	
	.slider-1 .swiper-button-next {
		right: -20px;
	}
	/* end of testimonials */


	/* Team */
	.card-2 .card {
		display: inline-block;
		width: 222px;
		max-width: 100%;
		vertical-align: top;
	}
	
	.card-2 .card:nth-of-type(4n+2) {
		margin-right: 0.25rem;
		margin-left: 0.5rem;
	}

	.card-2 .card:nth-of-type(4n+3) {
		margin-right: 0.5rem;
		margin-left: 0.25rem;
	}
	/* end of team */


	/* About */
	.counter .image-container {
		margin-bottom: 0;
	}
	/* end of about */

	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 306px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 238px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.container {
		max-width: 1140px;
	}
	/* end of general styles */
	

	/* Header */
	.header {
		padding-top: 21rem;
		padding-bottom: 20rem;
	}

	.header .h1-large {
		font-size: 4rem;
		line-height: 4.25rem;
	}
	/* end of header */


	/* Intro */
	.basic-1 .text-container {
		margin-right: 2.5rem;
	}

	.basic-1 .image-container {
		margin-left: 1rem;
	}
	/* end of intro */


	/* Description */
	.cards-1 .card {
		width: 300px;
	}
	
	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 6.25rem;
		margin-left: 6.25rem;
	}
	/* end of description */


	/* Services */
	.cards-2 .card {
		width: 340px;
	}
	
	.cards-2 .card:nth-of-type(3n+2) {
		margin-right: 2.5rem;
		margin-left: 2.5rem;
	}
	/* end of services */


	/* Details 1 */
	.accordion-1 .accordion {
		max-width: 460px;
		margin-left: 6rem;
	}
	/* end of details 1 */

	/* Testimonials */
	.slider-1 .swiper-container {
		width: 96%;
	}

	.slider-1 .swiper-button-prev {
		left: -26px;
	}
	
	.slider-1 .swiper-button-next {
		right: -26px;
	}
	/* end of testimonials */

	/* Team */
	.card-2 .card {
		width: 250px;
	}

	.card-2 .card:nth-of-type(4n+2) {
		margin-right: 1rem;
		margin-left: 2rem;
	}

	.card-2 .card:nth-of-type(4n+3) {
		margin-right: 2rem;
		margin-left: 1rem;
	}
	/* end of team */


	/* About */
	.counter .image-container {
		margin-right: 1.75rem;
	}

	.counter .text-container {
		margin-top: 0.375rem;
		margin-left: 1.75rem;
	}
	/* end of about */

	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */

/* price */
  .generic_price_table .generic_content{
	background-color: #fff;
  }
  
  .generic_price_table .generic_content .generic_head_price{
	background-color: #f6f6f6;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	color: #525252;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
	  color: #414141;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
	  color: #414141;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
	  color: #414141;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
	  color: #414141;
  }
  
  .generic_price_table .generic_content .generic_feature_list ul li{  
	color: #a7a7a7;
  }
  
  .generic_price_table .generic_content .generic_feature_list ul li span{
	color: #414141;
  }
  .generic_price_table .generic_content .generic_feature_list ul li:hover{
	background-color: #E4E4E4;
	border-left: 5px solid #ff448a;
  }
  
  .generic_price_table .generic_content .generic_price_btn a{
	border: 1px solid #ff448a; 
	  color: #ff448a;
  } 
  
  .generic_price_table .generic_content.active .generic_head_price .generic_head_content .head_bg,
  .generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg{
	border-color: #ff448a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ff448a;
	color: #fff;
  }
  
  .generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head span,
  .generic_price_table .generic_content.active .generic_head_price .generic_head_content .head span{
	color: #fff;
  }
  
  .generic_price_table .generic_content:hover .generic_price_btn a,
  .generic_price_table .generic_content.active .generic_price_btn a{
	background-color: #ff448a;
	color: #fff;
  } 
  .generic_price_table{
	margin: 50px 0 50px 0;
	  font-family: 'Raleway', sans-serif;
  }
  .row .table{
	  padding: 28px 0;
  }
  
  /*PRICE BODY CODE START*/
  
  .generic_price_table .generic_content{
	overflow: hidden;
	position: relative;
	text-align: center;
  }
  
  .generic_price_table .generic_content .generic_head_price {
	margin: 0 0 20px 0;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content{
	margin: 0 0 50px 0;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg{
	  border-style: solid;
	  border-width: 90px 1411px 23px 399px;
	position: absolute;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head{
	padding-top: 40px;
	position: relative;
	z-index: 1;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
	  font-family: "Raleway",sans-serif;
	  font-size: 28px;
	  font-weight: 400;
	  letter-spacing: 2px;
	  margin: 0;
	  padding: 0;
	  text-transform: uppercase;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag{
	padding: 0 0 20px;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price{
	display: block;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .sign{
	  display: inline-block;
	  font-family: "Lato",sans-serif;
	  font-size: 28px;
	  font-weight: 400;
	  vertical-align: middle;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
	  font-family: "Lato",sans-serif;
	  font-size: 60px;
	  font-weight: 300;
	  letter-spacing: -2px;
	  line-height: 60px;
	  padding: 0;
	  vertical-align: middle;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
	  display: inline-block;
	  font-family: "Lato",sans-serif;
	  font-size: 35px;
	  font-weight: 400;
	  vertical-align: bottom;
  }
  
  .generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
	  font-family: "Lato",sans-serif;
	  font-size: 18px;
	  font-weight: 400;
	  letter-spacing: 3px;
	  vertical-align: bottom;
  }
  
  .generic_price_table .generic_content .generic_feature_list ul{
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  .generic_price_table .generic_content .generic_feature_list ul li{
	font-family: "Lato",sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table .generic_content .generic_feature_list ul li:hover{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
  
  }
  .generic_price_table .generic_content .generic_feature_list ul li .fa{
	padding: 0 10px;
  }
  .generic_price_table .generic_content .generic_price_btn{
	margin: 20px 0 32px;
  }
  
  .generic_price_table .generic_content .generic_price_btn a{
	  border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	-webkit-border-radius: 50px;
	  display: inline-block;
	  font-family: "Lato",sans-serif;
	  font-size: 18px;
	  outline: medium none;
	  padding: 12px 30px;
	  text-decoration: none;
	  text-transform: uppercase;
  }
  
  .generic_price_table .generic_content,
  .generic_price_table .generic_content:hover,
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head_bg,
  .generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head_bg,
  .generic_price_table .generic_content .generic_head_price .generic_head_content .head h2,
  .generic_price_table .generic_content:hover .generic_head_price .generic_head_content .head h2,
  .generic_price_table .generic_content .price,
  .generic_price_table .generic_content:hover .price,
  .generic_price_table .generic_content .generic_price_btn a,
  .generic_price_table .generic_content:hover .generic_price_btn a{
	transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
  } 
  @media (max-width: 320px) { 
  }
  
  @media (max-width: 767px) {
	.generic_price_table .generic_content{
	  margin-bottom:75px;
	}
  }
  @media (min-width: 768px) and (max-width: 991px) {
	.generic_price_table .col-md-3{
	  float:left;
	  width:50%;
	}
	
	.generic_price_table .col-md-4{
	  float:left;
	  width:50%;
	}
	
	.generic_price_table .generic_content{
	  margin-bottom:75px;
	}
  }
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  @media (min-width: 1200px) {
  }
  .generic_price_table_home{
	 font-family: 'Raleway', sans-serif;
  }
  
  .text-center h1,
  .text-center h1 a{
	color: #7885CB;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
  }
  .demo-pic{
	margin: 0 auto;
  }
  .demo-pic:hover{
	opacity: 0.7;
  }
  
  .generic_price_table_home ul{
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
  }
  .generic_price_table_home li{
	float: left;
  }
  .generic_price_table_home li + li{
	margin-left: 10px;
	padding-bottom: 10px;
  }
  .generic_price_table_home li a{
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
  }
  .generic_price_table_home .blue{
	background: #3498DB;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .emerald{
	background: #ff448a;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .grey{
	background: #7F8C8D;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .midnight{
	background: #34495E;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .orange{
	background: #E67E22;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .purple{
	background: #9B59B6;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .red{
	background: #E74C3C;
	transition:all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .turquoise{
	background: #1ABC9C;
	transition: all 0.3s ease-in-out 0s;
  }
  
  .generic_price_table_home .blue:hover,
  .generic_price_table_home .emerald:hover,
  .generic_price_table_home .grey:hover,
  .generic_price_table_home .midnight:hover,
  .generic_price_table_home .orange:hover,
  .generic_price_table_home .purple:hover,
  .generic_price_table_home .red:hover,
  .generic_price_table_home .turquoise:hover{
	border-bottom-left-radius: 50px;
	  border-bottom-right-radius: 50px;
	  border-top-left-radius: 50px;
	  border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
  }
  .generic_price_table_home .divider{
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
  }
  .generic_price_table_home .divider span{
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
  }
  .generic_price_table_home .itemname{
	text-align: center;
	font-size: 50px ;
	padding: 50px 0 20px ;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
	  font-weight: 300;
  }
  .generic_price_table_home .itemnametext{
	  text-align: center;
	  font-size: 20px;
	  padding-top: 5px;
	  text-transform: uppercase;
	  display: inline-block;
  }
  .generic_price_table_home .footer{
	padding:40px 0;
  }
  
  .price-heading{
	  text-align: center;
  }
  .price-heading h1{
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
  }
  .demo-button {
	  background-color: #333333;
	  color: #ffffff;
	  display: table;
	  font-size: 20px;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 20px;
	  margin-bottom: 50px;
	  outline-color: -moz-use-text-color;
	  outline-style: none;
	  outline-width: medium ;
	  padding: 10px;
	  text-align: center;
	  text-transform: uppercase;
  }
  .bottom_btn{
	background-color: #333333;
	  color: #ffffff;
	  display: table;
	  font-size: 28px;
	  margin: 60px auto 20px;
	  padding: 10px 25px;
	  text-align: center;
	  text-transform: uppercase;
  }
  .demo-button:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
	
  }
  .bottom_btn:hover{
	background-color: #666;
	color: #FFF;
	text-decoration:none;
  }
  .h2-pricing{
	  padding-bottom: 5rem;
  }